<div class="main" style="padding: 50px 0">
  <div class="container">
    <div class="col-12">
      <input #se (keyup)="search(se.value)" type="search" name="" id="" class="form-control">
    </div>
    <hr>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>id</th>
          <th>name</th>
          <th>address</th>
          <th>salary</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let temp of dataArray; index as num">
          <td>{{(num+1)}}</td>
          <td>{{temp.id}}</td>
          <td>{{temp.name}}</td>
          <td>{{temp.address}}</td>
          <td>{{temp.salary}}</td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [length]=dataCount
                     [pageSize]=size
                     [pageIndex]=page
                     [pageSizeOptions]=paginateOption
                     (page)="pageEvent=serverDataManager($event)"
                     aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
