<mat-tab-group mat-align-tabs="start">
  <mat-tab label="+ New Customer">
    <app-new-customer></app-new-customer>
  </mat-tab>
  <mat-tab label="Find Customer">
    <app-find-customer></app-find-customer>
  </mat-tab>
  <mat-tab label="Update Customer">
    <app-update-customer></app-update-customer>
  </mat-tab>
  <mat-tab label="Remove Customer">
    <app-delete-customer></app-delete-customer>
  </mat-tab>
  <mat-tab label="All Customers">
    <app-customer-list></app-customer-list>
  </mat-tab>
</mat-tab-group>
